<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title>登录</title>

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link href="css/user.css" rel="stylesheet" type="text/css"/>
    <link href="css/sj.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //表单验证
            $(".loginform").Validform({
                tiptype: 3
            });
        });
    </script>
</head>
<body>
<style type="text/css">
    .nav_list ul > li{
        margin-right: 30px;
    }
</style>
<!--内容-->
<script type="text/javascript" src="js/jquery.inputtext.js"></script>
<!--头部-->
<script language="JavaScript">
    $(function () {
        $(".keywords").textRemindAuto();
    })
</script>

<div class="top">
    <div class="top_main clearfix">
        <div class="top_left"> 欢迎来到汇淘二手车交易市场有限公司！</div>
        <div class="top_right"> 咨询热线：<span class="orange01 fb">0512-67481686</span> </div>
    </div>
</div>

<div class="headw">
    <div class="head">
        <div class="logo"><a href="#"><img src="images/logo.jpg"/></a></div>
        <div class="topsearch">
            <div class="topsearchbox">
                <form method="get" action="">
                    <input type="text" name="k" class="keywords" value="请输入关键词，如宝马"/>
                    <input type="submit" value="" class="button"/>
                    <input type="hidden" name="m" value="search"/>
                </form>
            </div>
        </div>
        <div class="carnum"><a href="/toRegister"><img src="images/zhongxin.jpg"/></a></div>
    </div>
</div>
<div class="nav_list">
    <ul class="clearfix">
        <li><a href="toIndex" title="首页">首页</a></li>
        <li><a href="toBuy" title="买车">买车</a></li>
        <li><a href="toSell" title="卖车">卖车</a></li>
        <li><a href="toGujia" title="评估">评估</a></li>
        <li><a href="toNews" title="攻略">攻略</a></li>
        <li><a href="toContact" title="联系">联系</a></li>
    </ul>
</div>
<div class="  col-xs-12 dh-wz ">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigat</span>
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="clearfix xiala ">
                <li class="on"><a href="index.html" title="首页" class="here">首页</a></li>
                <li><a href="toIndex" title="首页">首页</a></li>
                <li><a href="toBuy" title="买车">买车</a></li>
                <li><a href="toSell" title="卖车">卖车</a></li>
                <li><a href="toGujia" title="评估">评估</a></li>
                <li><a href="toNews" title="攻略">攻略</a></li>
                <li><a href="toContact" title="联系">联系</a></li>
            </ul>
        </div>
    </nav>
</div>
<!--头部end -->
<div class="login_main mt10 clearfix">
    <div class="login_left">
        <div class="title"><A class="on" href="#">登录</A>|<A href="toRegister">注册</A></div>
        <form name="logform" class="loginform" id="logform">
            <table class="logintable mt20" style="width:100%;">
                <tr>
                    <th>手机号：</th>
                    <td><input type="text" name="loginName" placeholder="请输入手机号" class="inp01" ajaxurl=""/></td>
                </tr>

                <tr>
                    <th>密&nbsp;&nbsp;&nbsp;码：</th>
                    <td><input type="password" name="password" placeholder="请输入密码" class="inp01"/></td>
                </tr>

            </table>
            <div class="gly-1"><span>用户&nbsp;&nbsp;<input type="radio" name="type" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理员&nbsp;&nbsp;
                <input name="type" type="radio" value="0"/></span></div>
            <div class="gly-1">
         
          <span><input type="button" class="login_but" value="立即登录" onclick="doLogin()"/>
              <!--<a href="#"></a>-->
              <!--<input type="hidden" name="action" value="login">-->
          </span>
            </div>
        </form>
    </div>
    <div class="login_right">
        <img src="images/login.jpg"/>
    </div>
</div>
<!--版权-->
<!--底部导航-->
<div class="footer" id="foot">
    <p class="tc"><a href="#" tppabs="#" title="首页">首页</a> | <a href="#" tppabs="#" title="买车">买车</a>
        | <a href="#" tppabs="#" title="卖车">卖车</a>
        | <a href="#" tppabs="#" title="评估">评估</a>
        | <a href="#" tppabs="#" title="攻略">攻略</a>
        | <a href="#" tppabs="#" title="联系">联系</a> | </p>
    <p class="mt10"> Copyright 2017 汇淘二手车交易市场有限公司 </p>
    <p class="mt10"><img src="images/dh.jpg"/>0512-67481686 </p>
</div>
<div id="right-side" class="right-side">
    <ul>
        <li class="side-top w4"><a id="backtop" title="返回顶部" href="#" style="display: block;">返回顶部</a></li>
    </ul>
</div>
<!-- 版权 结束 -->
</body>
<script>
    function doLogin() {
        var formParam = $("#logform").serialize();//序列化表格内容为字符串
        $.ajax({
            type:'post',
            url:'login',
            data:formParam,
            success:function(resultDto) {
                if(resultDto.success) {
                    window.location.href=(resultDto.message);
                }else {
                    alert(resultDto.message);
                }
            }
        })
    }

</script>
</html>