<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title>二手车行情 -</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link href="css/page.css" rel="stylesheet" type="text/css"/>
    <link href="css/sj.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<style type="text/css">
    .nav_list ul > li{
        margin-right: 30px;
    }
</style>
<!--内容-->
<script type="text/javascript" src="js/jquery.inputtext.js"></script>
<script language="JavaScript">
    $(function () {
        $(".keywords").textRemindAuto();
    })
</script>
<!--头部-->


<div class="top">
    <div class="top_main clearfix">
        <div class="top_left"> 欢迎来到汇淘二手车交易市场有限公司！</div>
        <div class="top_right"> 咨询热线：<span class="orange01 fb">0512-67481686</span> </div>
    </div>
</div>

<div class="headw">
    <div class="head">
        <div class="logo"><a href="#"><img src="images/logo.jpg" alt=""/></a></div>
        <div class="topsearch">
            <div class="topsearchbox">
                <form method="get" action="">
                    <input type="text" name="k" class="keywords" value="请输入关键词，如宝马"/>
                    <input type="submit" value="" class="button"/>
                    <input type="hidden" name="m" value="search"/>
                </form>
            </div>
        </div>
        <div class="carnum"><a href="/toRegister"><img src="images/zhongxin.jpg"/></a></div>
    </div>
</div>
<div class="nav_list">
    <ul class="clearfix">
        <li><a href="toIndex" title="首页">首页</a></li>
        <li><a href="toBuy" title="买车">买车</a></li>
        <li><a href="toSell" title="卖车">卖车</a></li>
        <li><a href="toGujia" title="评估">评估</a></li>
        <li><a href="toNews" title="攻略" class="here">攻略</a></li>
        <li><a href="toContact" title="联系">联系</a></li>
    </ul>
</div>
<div class="  col-xs-12 dh-wz ">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigat</span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="clearfix xiala ">
                <li><a href="toIndex" title="首页">首页</a></li>
                <li><a href="toBuy" title="买车">买车</a></li>
                <li><a href="toSell" title="卖车">卖车</a></li>
                <li><a href="toGujia" title="评估">评估</a></li>
                <li class="on"><a href="toNews" title="攻略" class="here">攻略</a></li>
                <li><a href="toContact" title="联系">联系</a></li>
            </ul>
        </div>
    </nav>
</div>
<!--头部end -->
<div class="nav">您当前的位置：<a href="toIndex" tppabs="#">首页</a> <span>></span> 二手车攻略</div>
<div class="main mt10 clearfix">
    <div class="main_left">
        <div class="commonbox02">
            <h3>二手车行情</h3>
            <div class="box3">
                <ul class="news_list p20">
                    <li><span class="fr f12 gray">2015-10-29 15:07:06</span><a href="toNew" tppabs="#"
                                                                               target="_blank">【行业知识】车主卖车的4种类型！</a>
                    </li>
                    <li><span class="fr f12 gray">2015-09-08 18:58:17</span><a href="toNew" tppabs="#"
                                                                               target="_blank">收购车请注意！这些二手车不能过户！</a>
                    </li>
                    <li><span class="fr f12 gray">2015-08-18 11:24:44</span><a href="toNew" tppabs="#"
                                                                               target="_blank">二手车年交易量或超2000万辆！</a></li>
                    <li><span class="fr f12 gray">2015-08-18 11:23:27</span><a href="toNew" tppabs="#"
                                                                               target="_blank">二手车流通办法将修订 限迁等问题成焦点</a>
                    </li>
                    <li><span class="fr f12 gray">2015-08-17 15:42:13</span><a href="toNew" tppabs="#"
                                                                               target="_blank">13大 不能过户的二手车</a></li>
                    <li><span class="fr f12 gray">2015-08-17 15:25:40</span><a href="#" tppabs="#" target="_blank">【购车知识】在二手车市场
                        如何购买一辆超值的二手车</a></li>
                    <li><span class="fr f12 gray">2015-08-17 09:33:01</span><a href="#" tppabs="#" target="_blank">在二手车市场
                        如何购买一辆超值的二手车</a></li>
                    <li><span class="fr f12 gray">2015-06-09 17:56:38</span><a href="#" tppabs="#" target="_blank">“国五”时代，天津近八成二手车面临贱卖</a>
                    </li>
                    <li><span class="fr f12 gray">2015-06-07 17:18:23</span><a href="#" tppabs="#" target="_blank">是谁告诉你的！买二手车的都是冤大头？！</a>
                    </li>
                    <li><span class="fr f12 gray">2015-05-19 14:50:02</span><a href="#" tppabs="#" target="_blank">买二手车你懂吗？掏腰包前别忘了这些！</a>
                    </li>
                    <li><span class="fr f12 gray">2015-05-19 11:56:47</span><a href="#" tppabs="#" target="_blank">电商：二手车诚信是关键</a>
                    </li>
                    <li><span class="fr f12 gray">2015-05-19 11:56:47</span><a href="#" tppabs="#" target="_blank">保时捷Cayman性价比怎么样？</a>
                    </li>
                    <li><span class="fr f12 gray">2015-05-19 11:56:47</span><a href="#" tppabs="#" target="_blank">夏天空调怎么用更好</a>
                    </li>
                    <li><span class="fr f12 gray">2015-05-19 11:56:47</span><a href="#" tppabs="#" target="_blank">汽车的基本结构包括哪些部分</a>
                    </li>
                    <li><span class="fr f12 gray">2015-05-19 11:56:47</span><a href="#" tppabs="#" target="_blank">汽车排量增加废气，排量超标怎么办？</a>
                    </li>
                    <li><span class="fr f12 gray">2015-05-19 11:56:47</span><a href="#" tppabs="#" target="_blank">新款S8雏形？新奥迪A8运动套件官图发布</a>
                    </li>
                    <li><span class="fr f12 gray">2015-05-19 11:56:47</span><a href="#" tppabs="#" target="_blank">2018年北京小客车指标确定 从15万变10万</a>
                    </li>
                </ul>
                <div class="page_list"><span>共12条</span><span>第1/1页</span><a href="#" tppabs="#">尾页</a></div>
            </div>
        </div>
    </div>
    <div class="main_right">
        <div class="commonbox02">
            <h3>热门车源</h3>
            <div class="box">
                <div id="hotcar">
                    <div class="hotcarlist"><a href="/getCar?carId=bc62ecea-0775-4a84-b0e3-7aacf182d956"
                                               target="_blank"><img
                            src="http://htaocar.oss-cn-hangzhou.aliyuncs.com/car/20171205213856_0684.jpg"/></a>
                        <p class="mt10"><a href="/getCar?carId=bc62ecea-0775-4a84-b0e3-7aacf182d956" target="_blank">一汽-大众CC
                            2015款 3.0FSI V6</a></p>
                        <p class="gray01"><span class="orange01 fb fr">￥23.88万</span>2015年8月上牌</p>
                    </div>
                    <div class="hotcarlist"><a href="/getCar?carId=3f6fd5c2-3a5a-42ab-bf81-5c2db054cd20"
                                               target="_blank"><img
                            src="http://htaocar.oss-cn-hangzhou.aliyuncs.com/car/20171205211319_0437.jpg"/></a>
                        <p class="mt10"><a href="/getCar?carId=3f6fd5c2-3a5a-42ab-bf81-5c2db054cd20" target="_blank">奔驰E级
                            2014款 E 300 L </a></p>
                        <p class="gray01"><span class="orange01 fb fr">￥36.8万</span>2014年7月上牌</p>
                    </div>
                    <div class="hotcarlist"><a href="/getCar?carId=a5641634-02f2-4485-a6fc-145be7cc42d1"
                                               target="_blank"><img
                            src="http://htaocar.oss-cn-hangzhou.aliyuncs.com/car/20171205221149_0644.jpg"/></a>
                        <p class="mt10"><a href="/getCar?carId=a5641634-02f2-4485-a6fc-145be7cc42d1" target="_blank">丰田坦途
                            2011款 5.7 标准型 </a></p>
                        <p class="gray01"><span class="orange01 fb fr">￥46.9万</span>2016年9月上牌</p>
                    </div>
                    <div class="hotcarlist"><a href="/getCar?carId=5f240d1b-ddb9-4fe0-8eea-5b4727a63dc1"
                                               target="_blank"><img
                            src="http://htaocar.oss-cn-hangzhou.aliyuncs.com/car/20171205222217_0841.jpg"/></a>
                        <p class="mt10"><a href="/getCar?carId=5f240d1b-ddb9-4fe0-8eea-5b4727a63dc1" target="_blank">英朗
                            2014款 XT 1.6L </a></p>
                        <p class="gray01"><span class="orange01 fb fr">￥8.3万</span>2014年3月上牌</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!--版权-->
<!--底部导航-->
<div class="footer" id="foot">
    <p class="tc"><a href="#" tppabs="#" title="首页">首页</a> | <a href="#" tppabs="#" title="买车">买车</a>
        | <a href="#" tppabs="#" title="卖车">卖车</a>
        | <a href="#" tppabs="#" title="评估">评估</a>
        | <a href="#" tppabs="#" title="攻略">攻略</a>
        | <a href="#" tppabs="#" title="联系">联系</a> | </p>
    <p class="mt10"> Copyright 2017 汇淘二手车交易市场有限公司 </p>
    <p class="mt10"><img src="images/dh.jpg"/>0512-67481686 </p>
</div>
<div id="right-side" class="right-side">
    <ul>
        <li class="side-top w4"><a id="backtop" title="返回顶部" href="#" style="display: block;">返回顶部</a></li>
    </ul>
</div>
<!-- 版权 结束 -->
</body>
</html>
