<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <title>上传图片</title>
    <!--初始版本-->
</head>
<body>
<form name="fileForm" method="POST" enctype="multipart/form-data" action="/uploadPhoto">

    <p>文件0为车辆首要展示图片</p>
    <p>文件0：<input type="file" name="file"/></p>
    <p>文件1：<input type="file" name="file"/></p>
    <p>文件2：<input type="file" name="file"/></p>
    <p>文件3：<input type="file" name="file"/></p>
    <p>文件4：<input type="file" name="file"/></p>
    <p><input type="submit" value="上传" /></p>
</form>

</body>
</html>