<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="study.dao.mapper.ContactDao">
    <insert id="addAdvise" parameterType="study.dao.entity.ContactEntity">
        INSERT into contact(
        ContactId,
        LoginName,
        NiChen,
        Email,
        Advise,
        IsDelete,
        IsAudit,
        AddTime
        ) VALUES (
        #{contactId},
        #{loginName},
        #{niChen},
        #{email},
        #{advise},
        #{isDelete},
        #{isAudit},
        #{addTime}
        )
    </insert>
</mapper>