<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="study.dao.mapper.ReservationDao">
    <insert id="addReserv" parameterType="study.dao.entity.ReservationEntity">
        insert INTO reservation
        (
        reservId,
        loginName,
        phoneNum,
        niChen,
        carId,
        isDelete,
        addTime
        )VALUES (
        #{reservId},
        #{loginName},
        #{phoneNum},
        #{niChen},
        #{carId},
        #{isDelete},
        #{addTime}
        )
    </insert>
</mapper>